.breadcrumbs {
    padding: 15px 0;

    &__list {
        font-size: 16px;
        line-height: 1.25em;
        font-weight: 300;
        color: $textColor;
       
    }

    &__link {
        white-space: nowrap;
        color: #969696;
        transition: all .3s ease;

        &:after {
            content: '—';
        }

        @media (min-width: 992px) {
            &:hover {
                color: $textColor;
            }
        }
    }
}
.container {
}
