@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars"; 
// ==== // VARS ===========================================================================================


// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================



* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
}
html,
body {
	height: 100%;
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.8rem;

	opacity: 0;
	transition: opacity .8s ease;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		opacity: 1;
	}

}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@keyframes rotateAnim {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

.center {
	text-align: center;
}

.pt-60 {
	padding-top: 60px;
}


.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}


.container {
	max-width: 1710px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.logo {
	max-width: 116px;
	width: 100%;
	transition: all .4s ease;
	@media (min-width: 992px) {
		&:hover {
			& svg path {
				fill: $mainColor;
			}
		}
	}

	& img, & svg {
		width: 100%;
		height: auto;
		& path {
			transition: all .3s ease;
		}
	}
}


// === title ========================================================================
.title-line {
    position: relative;
    padding-bottom: 13px;
    &:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        transition: all .3s ease;
        width: 146px;
        height: 3px;
        max-width: 100%;
        background-color: $mainColor;
    }
}




.title-1 {
	font-family: $titleFontFamily;
	font-weight: 400;
	font-size: 90px;
	line-height: 1.19em;
	margin-top: 0;

	@media (max-width: $md3+px) {
		font-size: 48px;
	}

	@media (max-width: 374px) {
		font-size: 38px;
	}
}

.title-2 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
	line-height: 1.22em;

	@media (max-width: $md3+px) {
		font-size: 38px;
	}
}	

.title-3 {
	font-family: $titleFontFamily;
	font-weight: 400;
	font-size: 40px;
	line-height: 1.175em;

	@media (max-width: $md3+px) {
		font-size: 30px;
	}

	@media (max-width: 374px) {
		font-size: 24px;
	}
}


.title-4 {

}

.title-5 {
	font-family:  $mainFontFamily;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.21em;

}
.title-6 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2em;

}

.text-1 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 1.2em;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}

.text-2 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.2em;

	@media (max-width: $md3+px) {
		font-size: 16px;
	}
}

.text-3 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.22em;
}

.text-4 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.25em;
}

.text-5 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.21em;
}

.suptitle {

}
.subtitle {

}

.text {

}
// === and title ========================================================================



// === btn ========================================================================
.btn-default {

}

button.btn-default {
	
}

.learn-more-btn {
    display: inline-flex;
    padding: 28px 30px;
    background-color: $bg;
    color: $mainColor;
    border-radius: 70px;
    align-items: center;

    @media (max-width: $md3+px) {
		font-size: 18px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
	}

    &.learn-more-btn_transparent {
        background-color: transparent;
        padding: 12px 12px 12px 0;

    }

    & .circle-decor {
        margin-right: 28px;
    }

    @media (min-width: 992px) {
        &:hover {
            & .circle-decor__circle {
                transform: translate(-50%, -50%) rotate(320deg) !important;
            }
        }
    }
}


.circle-decor {
    position: relative;
    flex: 0 0 68px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;

    &__circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 135%;
        height: 135%;
        border-radius: 50%;
        border: 1px solid $mainColor;
        transform: translate(-50%, -50%);
        transition: all 1s ease;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: $mainColor;
            transform: translate(-50%, -60%);
        }

		&.circle-decor__circle_rotate {
			animation: rotateAnim 4s linear infinite;
		}
    }

    &__icon {
        display: inline-block;
        width: 28.5px;

        & svg, & img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.btn-to-up {
	position: fixed;
	right: 5%;
	bottom: 10%;
	z-index: 50;
	display: none;
	animation: btnUpAnim .6s ease;
	& .circle-decor__icon {
		transform: rotate(-90deg);
	}

	@media (min-width: 992px) {
        &:hover {
            & .circle-decor__circle {
                transform: translate(-50%, -50%) rotate(320deg) !important;
            }
        }
    }
}

@keyframes btnUpAnim {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}


// === and btn ========================================================================

.input {

}

.textarea {

}

.link {

}

.float-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;

	@media (max-width: $md3+px) {
		float: none;
		width: calc(100% + 30px);
		margin-bottom: 20px;
		margin-left: -15px;
	}
}
.float-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;

	@media (max-width: $md3+px) {
		float: none;
		width: calc(100% + 30px);
		margin-bottom: 20px;
		margin-left: -15px;
	}
}

.clear {
	&:after {
		display: inline-block;
		content: '';
		clear: both;
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.22em;

	& h1 {
		font-family: $mainFontFamily;
		font-style: normal;
		font-weight: 300;
		font-size: 65px;
		line-height: 1.22em;
		margin-bottom: 0.8em;
	
		@media (max-width: $md3+px) {
			font-size: 46px;
		}
	}
	& h2 {
		font-family: $mainFontFamily;
		font-style: normal;
		font-weight: 300;
		font-size: 50px;
		line-height: 1.22em;
		margin-bottom: 0.8em;
	
		@media (max-width: $md3+px) {
			font-size: 38px;
		}

		&.title-line {
			&::before {
				bottom: -9px;
				width: 242px;
			}
		}
	}
	& h3 {
		font-family: $mainFontFamily;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.175em;
		margin-bottom: 0.8em;
	
		@media (max-width: $md3+px) {
			font-size: 30px;
		}
	
		@media (max-width: 374px) {
			font-size: 24px;
		}
	}
	& h4 {
		font-family: $mainFontFamily;
		font-weight: 400;
		font-size: 36px;
		line-height: 1.175em;
		margin-bottom: 0.8em;
	
		@media (max-width: $md3+px) {
			font-size: 28px;
		}
	
		@media (max-width: 374px) {
			font-size: 22px;
		}
	}

	& h5 {
		font-family: $mainFontFamily;
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 1.21em;
		margin-bottom: 0.8em;
	}
	& h6 {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.22em;
		margin-bottom: 0.8em;
		font-family: $mainFontFamily;

		&.title-line {
			margin-bottom: 1.6em;
			&::before {
				width: 222px;
			}
		}
	}

	& p {
		margin-bottom: 1.36em;

		& ~ .quote {
			margin-top: 85px;

			@media (max-width: $md3+px) {
				margin-top: 40px;
			}
		}

		& ~ .text-title-left {
			margin-top: 85px;

			@media (max-width: $md3+px) {
				margin-top: 40px;
			}
		}
	}

	& ul {
		padding-left: 18px;
	}

	
		li {
			position: relative;
			padding-left: 25px;
			margin-bottom: 24px;
			list-style-type: square;
			color: $mainColor;
			padding-left: 5px;
			& > * {
				color: $textColor;
			}
		}
	

	& ol {}

	& figure {
		text-align: center;
		margin-bottom: 44px;

		@media (max-width: $md3+px) {
			margin: 0 -15px 25px;
		}

		& img {
			display: inline-block;
			max-width: 100%;
			height: auto;
		}
	}

	& strong {
		font-weight: bold;
	}

	& a {
		&:hover {
			text-decoration: underline;
			transition: all .3s ease
		}
	}

}
// === and TEXT CONTETN BLOCK ========================================================================



// ==== BLOCKS =====================================================
@import "../common/header/#header";
@import "../common/footer/#footer";
@import "../common/hero/hero";
@import "../common/breadcrumbs/breadcrumbs";
@import "../common/text-head-block/text-head-block";
@import "../common/posts-block/posts-block";
@import "../common/cta-block/cta-block";
// ==== BLOCKS =====================================================


// ==== PAGES =====================================================

	// ==== HOME =====================================================
	@import "pages/#home";
	// ==== AND HOME =====================================================
	
	// ==== HISTORY PAGE =====================================================
	@import "pages/#history-page";
	// ==== AND HISTORY PAGE =====================================================
	
	// ==== ARTICLE =====================================================
	@import "pages/#article";
	// ==== AND ARTICLE =====================================================
	
	// ==== COMPANY =====================================================
	@import "pages/#company";
	// ==== AND COMPANY =====================================================
	
	// ==== COMPANY ARTICLE  =====================================================
	@import "pages/#company-article";
	// ==== AND COMPANY ARTICLE  =====================================================
	
	// ==== PROMOTIONS PAGE  =====================================================
	@import "pages/#promotions-page";
	// ==== AND PROMOTIONS PAGE  =====================================================
	
	// ====  PROMOTIONS PAGE SINGLE =====================================================
	@import "pages/#promotions-page-single";
	// ==== AND PROMOTIONS PAGE SINGLE =====================================================
	
	// ==== PRODUCTS PAGE =====================================================
	@import "pages/#products-page";
	// ==== AND PRODUCTS PAGE =====================================================
	
	// ==== PRODUCT CART =====================================================
	@import "pages/#product-cart";
	// ==== AND PRODUCT CART =====================================================
	
	// ==== PARTNERS =====================================================
	@import "pages/#partners";
	// ==== AND PARTNERS =====================================================
	
	// ==== DISTRIBUTOR=====================================================
	@import "pages/#distributor";
	// ==== AND DISTRIBUTOR =====================================================
	
	// ==== SHAREHOLDERS =====================================================
	@import "pages/#shareholders";
	// ==== AND SHAREHOLDERS =====================================================
	
	// ==== AND SHAREHOLDERS =====================================================
	@import "pages/#contact";
	// ==== AND SHAREHOLDERS =====================================================
	

// ==== AND PAGES =====================================================


