.footer {
    padding-top: 147px;
    @media (max-width: $md3+px) {
        padding-top: 50px;
    }

    &__main {
        position: relative;
        min-height: 716px;
        padding-bottom: 100px;

        & .form-footer {
            max-width: 651px;
            margin: 0 auto;
        }

        @media (max-width: $md3+px) {
            padding-bottom: 117px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1;

        @media (max-width: $md3+px) {
            height: 55%;
        }
    }

    &__title {
        margin-bottom: 58px;

        @media (max-width: $md3+px) {
            margin-bottom: 62px;
        }
    }

    &__bottom {
        background-color: $bg;

        &-body {
            min-height: 77px;
            padding-top: 13px;
            padding-bottom: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 374px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__logo {
        width: 100%;
        max-width: 94px;
        margin-right: 20px;
        @media (max-width: $md3+px) {
            max-width: 79px;
        }

        @media (max-width: 374px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__copy {
        color: #fff;
    }
}

.form-footer {
    background: rgba(246, 172, 89, 0.8);
    border-radius: 20px;
    padding: 36px 31px 25px;
    text-align: center;

    @media (max-width: $md3+px) {
        background-color: transparent;
        padding: 0;
        text-align: left;
    }

    &.wpcf7-form  {
        & .wpcf7-response-output {
            border-color: #fff !important;
            font-family: $mainFontFamily;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.25em;
            color:#000;

            @media (max-width: $md3+px) {
                background-color: rgba(#fff, 0.8) !important;
            }
        }
    }

    &__item {
        margin-bottom: 22px;

        & .wpcf7-form-control-wrap {
            display: block;

            & .wpcf7-not-valid-tip {
                font-size: 12px;
                position: absolute;
                top: 110%;
                padding: 0 22px;

                @media (max-width: $md3+px) {
                    padding: 0 12px;
                }
            }
        }

        &_textarea {
            margin-top: 50px;

            @media (max-width: $md3+px) {
                margin-top: 40px;
            }
        }
    }

    &__input {
        width: 100%;
        background-color: transparent;
        display: flex;
        min-height: 48px;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding: 0 22px;
        font-family: $mainFontFamily;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25em;
        color: #693f18;

        &::placeholder {
            font-family: $mainFontFamily;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.25em;
            color: #693f18;
        }

        @media (max-width: $md3+px) {
            border-bottom: 1px solid $mainColor;
            padding: 0 12px;
        }
    }

    &__textarea {
        width: 100%;
        background-color: transparent;
        min-height: 48px;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding: 0 20px;
        resize: none;
        font-family: $mainFontFamily;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25em;
        color: #693f18;

        &::placeholder {
            font-family: $mainFontFamily;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.25em;
            color: #693f18;
        }
    }

    &__btn {
        &.learn-more-btn {
            color: $textColor;

            & .circle-decor {
                background-color: $textColor;

                & .circle-decor__circle {
                    border-color: $textColor;

                    &::before {
                        background-color: $textColor;
                    }
                }

                & .circle-decor__icon {
                    & svg {
                        & path {
                            fill: $mainColor;
                        }
                    }
                }
            }

            @media (max-width: $md3+px) {
                border-radius: 999px;
                padding: 28px 28px 28px 0;
                position: relative;
                margin-top: 40px;
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 2000px;
                    border-radius: 999px;
                    background-color: rgba(246, 172, 89, 0.8);
                    z-index: -1;
                }
            }
        }
    }
}
