.home {
}

.small-story-block {
    position: relative;

    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 872px;
        max-height: 100%;
        z-index: 1;

        @media (max-width: $md3+px) {
            height: 631px;
        }

        & img {
            object-position: bottom;
        }
    }

    &__body {
        min-height: 909px;
        padding-top: 77px;
        max-width: 1130px;
        margin: 0 auto;
        padding: 77px 15px 595px;
        z-index: 2;
        position: relative;

        @media (min-width: 1921px) {
            padding-bottom: 900px;
        }

        @media (max-width: $md3+px) {
            padding-top: 50px;
            padding-bottom: 450px;
            min-height: 836px;
        }
    }

    &__title {
        margin-bottom: 31px;

        @media (max-width: $md3+px) {
            margin-bottom: 49px;
        }
    }

    &__text {
        &.text-content {
            @extend .text-2;

            & p {
                margin-bottom: 1.2em;
            }
        }
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        text-align: center;
        transform: translateY(50%);

        @media (max-width: $md3+px) {
            transform: translateY(16%);
        }
    }
}

.title-decor {
    text-align: center;
    color: $mainColor;
    & > span {
        text-align: center;
        min-height: 60px;
        display: inline-flex;
        align-items: center;
        padding: 8px 36px;
        position: relative;

        @media (max-width: $md3+px) {
            padding: 8px 22px;
            min-height: 46px;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 4000px;
            height: 100%;
            border-radius: 999px;
            border: 1px solid $mainColor;
        }
    }
}

.stock-block {
    background-color: $bg;

    @media (max-width: $md2+px) {
        padding-bottom: 50px;
    }

    &__body {
        position: relative;
        display: flex;

        @media (max-width: $md2+px) {
            flex-direction: column-reverse;
        }
    }

    &__title {
        color: #fff;
        position: absolute;
        top: 54px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;

        @media (max-width: $md2+px) {
            position: static;
            order: 1;
            margin-bottom: 47px;
            flex: 0 1 100%;
            transform: translateX(0%);
        }

        & > span {
            &::before {
                background-color: $bg;
                z-index: -1;
            }
        }
    }

    &__column-1 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 15px;
        @media (max-width: $md2+px) {
            flex: 0 1 100%;
            padding-right: 15px;
        }
    }

    &__column-2 {
        flex: 0 0 57%;

        @media (max-width: $md2+px) {
            flex: 0 1 100%;
        }
    }

    &__text-wrap {
        max-width: 653px;
        width: 100%;
        padding-right: 40px;
        padding-top: 86px;

        @media (max-width: $md2+px) {
            max-width: none;
            padding-top: 20px;

            & ._height {
                display: none;
            }
        }
    }

    &__logo {
        width: 100%;
        max-width: 146px;
        margin-bottom: 59px;

        @media (max-width: $md3+px) {
            max-width: 110px;
            margin-bottom: 20px;
        }

        & svg {
            width: 100%;
            height: auto;

            & path {
                fill: #f6ac59;
                opacity: 0.4;
            }
        }
    }

    &__title-2 {
        font-family: $mainFontFamily;
        font-weight: 600;
        font-size: 70px;
        line-height: 1.21em;
        color: $mainColor;
        margin-bottom: 15px;

        @media (max-width: $md3+px) {
            font-size: 60px;
        }

        & > strong {
            display: block;
            font-size: 90px;
            margin-bottom: 5px;

            @media (max-width: $md3+px) {
                font-size: 80px;
            }
        }
    }

    &__subtitle {
        color: #fff;
        margin-bottom: 62px;

        @media (max-width: $md3+px) {
            margin-bottom: 33px;
        }
    }

    &__img {
        width: 100%;
        min-height: 758px;

        @media (max-width: $md2+px) {
            min-height: 558px;
        }

        @media (max-width: $md3+px) {
            min-height: 333px;
        }
    }

    & .learn-more-btn {
        padding: 28px 12px;
    }
}

.products-block {
    padding-top: 120px;

    @media (max-width: $md3+px) {
        padding-top: 50px;
    }

    & .container {
        max-width: 1577px;
    }

    &__title {
        margin-bottom: 67px;

        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 33.333%;
        padding: 0 20px;
        margin-bottom: 118px;
        max-width: 400px;

        &:last-child {
            & .products-block__item {
                @media (min-width: 992px) {
                    &:hover {
                        & .products-block__hop-4 {
                            left: 86%;
                        }

                        & .products-block__hop-5 {
                            top: 41%;
                            left: 90%;
                        }

                       
                    }
                }
            }
        }

        @media (max-width: $md2+px) {
            &:nth-child(2) {
                & .products-block__inner {
                    transform: scale(1.1);
                }
                & .products-block__img {
                    transform: rotate(5deg);
                }

                & .products-block__item-title {
                    & > span {
                        opacity: 1;

                        &:first-child {
                            opacity: 0;
                            transform: translateX(-200%);
                        }
                    }
                }

                & .products-block__hop {
                    opacity: 1;
                }

                & .products-block__hop-1 {
                    transform: rotate(0deg) scale(0.6);
                    top: 11%;
                    left: 5%;
                }
                & .products-block__hop-2 {
                    transform: rotate(0deg) scale(0.6);
                    top: 26%;
                    left: -23%;
                }
                & .products-block__hop-3 {
                    transform: rotate(0deg) scale(0.6);
                    top: 51%;
                    left: -20%;
                }
                & .products-block__hop-4 {
                    transform: rotate(0deg) scale(0.6);
                    top: 15%;
                    left: 65%;
                }
                & .products-block__hop-5 {
                    transform: rotate(0deg) scale(0.6);
                    top: 32%;
                    left: 78%;
                }
                & .products-block__hop-6 {
                    transform: rotate(0deg) scale(0.6);
                    top: 59%;
                    left: 61%;
                }
            }
        }

        @media (max-width: $md3+px) {
            margin: 0 auto 50px;
        }
    }

    &__item {
        display: block;
        text-align: center;
        transition: all 1s ease;
        color: $textColor;
        position: relative;

        @media (min-width: 992px) {
            &:hover {
                & .products-block__inner {
                    transform: scale(1.26);
                }
                & .products-block__img {
                    transform: rotate(5deg);
                }

                & .products-block__item-title {
                    & > span {
                        opacity: 1;

                        &:first-child {
                            opacity: 0;
                            transform: translateX(-200%);
                        }
                    }
                }

                & .products-block__hop {
                    opacity: 1;
                }

                & .products-block__hop-1 {
                    transform: rotate(0deg) scale(1);
                    top: 11%;
                    left: 5%;
                }
                & .products-block__hop-2 {
                    transform: rotate(0deg) scale(1);
                    top: 26%;
                    left: -23%;
                }
                & .products-block__hop-3 {
                    transform: rotate(0deg) scale(1);
                    top: 51%;
                    left: -20%;
                }
                & .products-block__hop-4 {
                    transform: rotate(0deg) scale(1);
                    top: 15%;
                    left: 74%;
                }
                & .products-block__hop-5 {
                    transform: rotate(0deg) scale(1);
                    top: 32%;
                    left: 100%;
                }
                & .products-block__hop-6 {
                    transform: rotate(0deg) scale(1);
                    top: 62%;
                    left: 71%;
                }

                & .products-block__img {
                    & .products-block__img-mask {
                        & #Layer_81_copy {
                            opacity: 1;
                        }

                        & #Layer_8_copy {
                            opacity: 1;
                        }

                        & #cls-3 {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__inner {
        transition: all 1s ease;
        position: relative;
        z-index: 2;
    }
    &__img {
        text-align: center;
        transition: all 1s ease;
        position: relative;
        margin-bottom: 33px;
        height: 497px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $md2+px) {
            height: 320px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 5px;
        }

        @media (max-width: $md4+px) {
            max-width: 263px;
            margin: 0 auto 5px;
        }

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: auto;
        }

        & .products-block__img-mask {
            position: absolute;
            top: 46%;
            left: 52%;
            transform: translate(-50%, -50%);
            height: 100%;
            z-index: 2;

            & image {
                transition: all 1s ease;
                opacity: 0;
            }
        }
    }

    &__decor {
        position: relative;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        min-width: 320px;

        @media (max-width: $md2+px) {
            height: 77%;
            min-width: 240px;
        }

        @media (max-width: $md3+px) {
            height: 100%;
            left: 56%;
        }

        @media (max-width: $md4+px) {
            left: 50%;
            width: 80%;
            min-width: 254px;
        }
    }

    &__hop {
        position: absolute;
        transition: all 1s ease;
        opacity: 0;
        z-index: 1;
        display: block;
        text-align: center;
        & img {
            max-width: 100%;
            height: auto;
        }
        &-1 {
            top: 14%;
            left: 43%;
            transform: rotate(-21deg) scale(0.7);
            width: 51px;
        }
        &-2 {
            top: 26%;
            left: 38%;
            transform: scale(0.7);
            width: 90px;
        }
        &-3 {
            top: 44%;
            left: 28%;
            transform: rotate(25deg) scale(0.7);
            width: 155px;
        }
        &-4 {
            top: 15%;
            left: 40%;
            transform: scale(0.7);
            width: 86px;
        }
        &-5 {
            top: 32%;
            left: 36%;
            transform: scale(0.7);
            width: 123px;
        }
        &-6 {
            top: 62%;
            left: 33%;
            transform: scale(0.7);
            width: 125px;
        }
    }

    &__item-title {
        color: $mainColor;
        margin-bottom: 6px;
        position: relative;
        & > span {
            transition: all 1s ease;
            opacity: 0;
            display: inline-block;

            &:first-child {
                opacity: 1;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__desc {
        transition: all 1s ease;
    }

    &__bottom {
        text-align: center;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 220%;
            height: 50%;
            background-color: $bg;
            z-index: -1;
        }
    }
}

.for-partners-block {
    background-color: $bg;
    padding-top: 20px;
    &__item {
        position: relative;

        &._hover {
            & img {
                transform: scale(1.05);
            }
        }
    }

    &__item-1 {
        margin-bottom: 28px;
    }

    &__item-2 {
        & .for-partners-block__text-wrap {
            color: $textColor;

            @media (max-width: $md3+px) {
                color: #fff;
            }

            &::before {
                background-color: rgba(#fff, 0.8);
            }
        }

        & .for-partners-block__img {
            @media (max-width: $md3+px) {
                & img {
                    object-position: top;
                }
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

        @media (max-width: $md3+px) {
            position: relative;
            height: 420px;
        }
        @media (max-width: 575px) {
            height: 333px;
        }

        & img {
            transition: all 1s ease;
        }
    }

    &__body {
        min-height: 690px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1458px;
        margin: 0 auto;
        padding: 105px 15px 75px;

        @media (max-width: $md3+px) {
            min-height: auto;
            padding: 0 15px;
        }
    }

    &__text-wrap {
        max-width: 700px;
        position: relative;
        padding: 23px 30px 23px 0;
        color: #fff;
        display: flex;
        flex-direction: column;

        @media (max-width: $md3+px) {
            padding-right: 0;
        }

        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 4000px;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
            z-index: -1;

            @media (max-width: $md3+px) {
                display: none;
            }
        }

        @media (min-width: 992px) {
            &:hover {
                & .title-line {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__title {
        margin-bottom: 12px;
        display: inline-block;
        align-self: flex-start;
    }

    &__text {
        margin-bottom: 28px;

        @media (max-width: $md3+px) {
            font-size: 20px;
        }
    }
}

.map-block {
    padding-top: 97px;

    @media (max-width: $md3+px) {
        padding-top: 50px;
    }

    &__title {
        margin-bottom: 60px;

        @media (max-width: $md3+px) {
            margin-bottom: 53px;
        }
    }

    &__inner {
        position: relative;
    }

    &__nav {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);

        @media (max-width: $md3+px) {
            position: static;
            align-self: center;
            transform: translate(0);
            margin-bottom: 39px;
        }
    }

    &__nav-item {
        display: inline-flex;
        color: #fff;
        min-height: 62px;
        background-color: rgba($mainColor, 0.4);
        border-radius: 999px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        align-items: center;
        padding: 11px 21px;
        word-wrap: break-word;
        width: 129px;
        transition: all 0.3s ease;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25em;
        align-self: flex-end;

        &:not(:last-child) {
            margin-bottom: 15px;

            @media (max-width: $md3+px) {
                margin-bottom: 9px;
            }
        }

        &.active {
            background-color: rgba($mainColor, 0.8);
            width: 242px;
            min-height: 74px;

            @media (max-width: $md3+px) {
                width: auto;
            }
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($mainColor, 0.8);
            }
        }

        @media (max-width: $md3+px) {
            align-self: center;
            min-height: 52px !important;
            text-align: center;
            min-width: 231px;
            justify-content: center;
            border-bottom-right-radius: 999px;
            border-top-right-radius: 999px;
        }
    }

    &__map {
        height: 723px;

        @media (max-width: $md3+px) {
            height: 385px;
        }
    }

    & .gm-style-iw-t {
        &:after {
            display: none;
        }
    }

    & .gm-style-iw {
        background-color: transparent;
        box-shadow: none;
        overflow: visible !important;
        transform: translate(-50%, -83%) !important;
    }

    & .gm-style-iw-d {
        overflow: visible !important;
    }
}

.map-card {
    font-family: $mainFontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #121212;
    position: relative;
    padding-bottom: 45px;
    padding-right: 15px;

    &:before {
        position: absolute;
        content: "";
        z-index: -1;
        top: -17px;
        left: -15px;
        width: 108%;
        height: calc(119% - 50px);
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 6px 6px 10px rgba(60, 86, 154, 0.25);
    }

    & h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    & p {
        margin-bottom: 1.2em;
    }

    & h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        margin-bottom: 6px;
    }

    & ul {
        border-top: 1px solid #dddddd;
        padding-top: 9px;

        & li {
            display: flex;
        }
    }

    &__icons {
        flex: 0 0 10px;
        margin-right: 10px;

        & img {
            width: 100%;
            height: auto;
        }

        &.active {
            & .map-card__icon-check {
                display: block;
            }

            & .map-card__icon-cross {
                display: none;
            }
        }
    }

    &__icon-check {
        display: none;
    }

    &__icon-cross {
    }

    &__decor {
        position: absolute;
        bottom: 0;
        height: 45px;
        left: -15px;
        width: 108%;
        z-index: 10;
        border-radius: 6px;
        box-shadow: 6px 6px 10px rgba(60, 86, 154, 0.25);
        overflow: hidden;
    }

    &__decor-circle {
        position: absolute;
        top: 100%;
        left: 49%;
        transform: translate(-50%, -50%);
        height: 52px;
        width: 52px;
        border-radius: 50%;
        box-shadow: 0 0 0 200px #fff;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: inset 6px 6px 10px rgba(60, 86, 154, 0.25);
        }
    }

    &__decor-icon {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 15;
        width: 48px;
        height: auto;
        transform: translate(-54%, -50%);
    }
}
